img{
  width: 100%;
  position: fixed;
}
.div2{
  background-color: blue;
  height: 450px;
  width: 49%;position: fixed;left: 25%;text-align: center;
  top: 100px;border: 9px solid rgb(6, 136, 202);
}
h1{
  text-align: center;color: white;
}
pre{
  text-align: center;color: aliceblue;font-family: 'Times New Roman', Times, seri;
}
input::placeholder {
  color: #97ceec;
}
input{
  border: none;
        border-bottom: 1px solid #20abf5;
        width: 50%;
        background-color: blue;
        margin: 0 auto; color: antiquewhite;
        display: block;padding-top: 55px;height: 10px;
}
button{
  background-color: blue;
  border: 1px solid white;
  color: aliceblue;
  height: 25px;width: 100px;
}